global
	log 127.0.0.1   local0
	log 127.0.0.1   local1 notice
	daemon

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	option  forwardfor
	option  http-server-close
	timeout connect 5000
	timeout client  50000
	timeout server  50000

frontend http
	bind *:80

	acl is_for_jwt2 path_beg /api
	use_backend jwt2 if is_for_jwt2
	
	default_backend jwt1

backend jwt1
	option forwardfor
	server http1 ${JWT1_PORT_8088_TCP_ADDR}:${JWT1_PORT_8088_TCP_PORT}

backend jwt2
	option forwardfor
	server http1 ${JWT2_PORT_8080_TCP_ADDR}:${JWT2_PORT_8080_TCP_PORT}
